.leaflet-container {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
}
.logo{
  position: relative;
  display: absolute;
  margin-top: 90vh;
  margin-left: 5vh;
  z-index: 1000;
  width: fit-content;
}
.leaflet-control-zoom.leaflet-bar.leaflet-control{
  margin-left: 20px;
}
.leaflet-interactive{
  stroke: #51555e;
  stroke-width: 2px;
}
.leaflet-popup-content{
  margin: 4px 4px;
  width: fit-content;
  text-align: left;
}
.leaflet-popup-content-wrapper{
  background-color: #E8E8E8;
}
a.leaflet-popup-close-button{
  visibility: hidden;
}
li {
  font-size: 12px;
}
h1{
  font-size: 15px
}
.leaflet-popup-tip-container{
  z-index: -999;
  top: 50%;
}



